<div class="container-xl">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-6 col-lg-7 mx-auto">
        <h2 class="test-secondary" style="text-align:center">今日使える金額</h2> 
      </div>
      <div class="">
          <ul>
            <li class=""><%= @expense.quantity %></li>
          </ul>
      </div>
      <table class="table light">
        <thead>
          <tr>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
          </tr>
        </tbody>
      </table>
      <div class="">
      </div>
    </div>
  </div>
</div>