<div class="jumbotron">
  <div class="container mx-auto my-auto">
    <%= form_with model: @income, url: incomes_path, local:true do |f| %>
      <div class="" style="display:flex">
        <h2>Income</h2>
        <%= link_to edit_income_path(current_user.id), class: "btn rounded-circle my-auto", style: "font-size:20px; opacity:0.7;" do %>
          <i class="fas fa-plus-circle"></i>
        <% end %>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>収入額</th>
                  <th>貯金額</th>
                  <th style="width:80px"></th>
                </tr>
              </thead>
                <tbody>
                  <tr>
                    <td>aaa</td>
                    <td>aaa</td>
                    <td>
                      <%= link_to new_income_path(current_user.id), class: "btn btn-outline-dark rounded-circle", style: "font-size:13px" do %>
                        <i class="far fa-pen"></i>
                      <% end %>
                    </td>
                  </tr>
                </tbody>
              <tfoot>
                  <tr>
                    <td>aaa</td>
                    <td>aaa</td>
                    <td></td>
                  </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>