<div class="jumbotron">
  <div class="container mx-auto my-auto">
    <div class="" style="display:flex">
      <h2>Expenses</h2>
      <%= link_to root_path(current_user.id), class: "btn rounded-circle", style:"font-size:20px; opacity:0.7;" do %>
        <i class="fas fa-plus-circle"></i>
      <% end %>
    </div>
    <%= form_with model: @fixed_expense, url: fixed_expenses_path, local:true do |f| %>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>しy科目</th>
                  <th>金額</th>
                  <th>貯金</th>
                  <th style="width:80px"></th>
                </tr>
              </thead>
                <tbody>
                  <tr>
                    <td>aaa</td>
                    <td>aaa</td>
                    <td>aaa</td>
                    <td>
                      <button class="btn btn-outline-dark rounded-circle" type="button" style="font-size:13px; width:35px">
                        <i class="far fa-pen"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              <tfoot>
                  <tr>
                    <td>合計</td>
                    <td>aaa</td>
                    <td>aaa</td>
                    <td></td>
                  </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>